.site-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 6rem 2rem;
	position: relative;
	overflow: clip;

	@include bp-mobile {
		padding-top: 3rem;
	}

	&::before {
		content: '';
		position: absolute;
		inset: -25px;
		z-index: -1;
		pointer-events: none;
		background-image: url('@images/card-gradient.webp');
		background-position: 50% 50%;
		background-size: cover;
		filter: blur(25px);
		scale: -1 1;
	}
}
