.site-nav {
	display: flex;
	gap: 1.6rem;
	align-items: center;
	justify-content: center;
	padding-block: 2.4rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	font-weight: bold;
	line-height: 1;

	&__link {
		@include underline(true);
	}
}
