@mixin underline($on_hover: false) {
	position: relative;

	@if $on_hover {
		@include hover {
			&::after {
				scale: 1 1;
				transform-origin: left;
			}
		}
	}

	&::after {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: -1px;
		left: 0;
		transition: scale 0.3s ease-in-out;

		@if $on_hover {
			scale: 0 1;
		} @else {
			scale: 1 1;
		}

		transform-origin: right;
		background-color: currentcolor;
	}

	@content;
}
